
*{
  font-size: 16px;
}

header{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100px;
  background: #00AAFF; 
  margin: 0; 
  position: fixed;
  top:0;
}

header h3{
    width: 50px;
    font-size: 50px;
    line-height: 50px;
    word-wrap: break-word;
}

.container{
  margin-left: 150px;
  overflow: hidden;
}
.row{
  background: #FFFFFF;
}
.card{

  box-shadow: none;
  border-radius: 0;

}
rect {
    fill: #FFF;
    background: #FFF;
    shape-rendering: crispEdges;
}

.dot {
  fill-opacity: .5;
}

b{
  color:#0AF;
}
blockquote{
  border-left-color: #EEE;
  border-width: 5px;  
  padding-left: 10px;
}

.n{
  border-bottom: 1px solid #EEE;
  color:#333; 
  text-align: center;
  padding:3%; 
  margin-bottom:  0; 
  background: #FFF;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #222;
  color: #fff;
  border-radius: 2px;
  width: 400px;
}

.planets{
 background: #0AF;
}
.content{
  padding:5%;
  margin:10px auto;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

td{
  margin:0;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 10px;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

h1,h2,h3,h4,h5 {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

.collection h1{
  color:#FFF;
}
.details{

  padding:2%;
  background: #FFF;
}
.details div{
 padding:10px;
 border-bottom: 1px solid #EEE;
 text-align: justify;

}

.details b{
  font-size: 18px;
}